{:paths ["src" "resources"]
 :mvn/repos {"confluent" {:url "https://packages.confluent.io/maven/"}}
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.apache.avro/avro {:mvn/version "1.9.2"}
        com.damballa/abracad {:mvn/version "0.4.13"}
        metosin/jsonista {:mvn/version "0.3.5"}}
 :aliases
 {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.60.945"}
                      io.confluent/kafka-avro-serializer {:mvn/version "5.2.1"}
                      io.confluent/kafka-schema-registry {:mvn/version "5.2.1"}}}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.3" :git/sha "e537cd1"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}

  :install {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
            :main-opts ["-m" "deps-deploy.deps-deploy" "install" "edn-avro.jar"]}

  :deploy {:extra-deps {}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       ;; TODO:
                       ;;
                       ;; I would like to sign releases because why not? But
                       ;; deps-deploy at the moment does not yet support
                       ;; prompt-less password provision.
                       ;;
                       ;; :sign-releases? true
                       ;; :sign-key-id "C1CEE919CCBC3B60B712A1181EC3EBFBDC3C3436"
                       :artifact "edn-avro.jar"}}}}
