{:paths ["src" "resources"]
 :mvn/repos {"confluent" {:url "https://packages.confluent.io/maven/"}}
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.apache.avro/avro {:mvn/version "1.9.2"}
        com.damballa/abracad {:mvn/version "0.4.13"}
        metosin/jsonista {:mvn/version "0.3.5"}}
 :aliases
 {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.60.945"}
                      io.confluent/kafka-avro-serializer {:mvn/version "5.2.1"}
                      io.confluent/kafka-schema-registry {:mvn/version "5.2.1"}}}
  :depstar {:replace-deps
            {seancorfield/depstar {:mvn/version "2.0.165"}}
            :ns-default hf.depstar
            :exec-args {}}
  :install {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.1"}}
            :main-opts ["-m" "deps-deploy.deps-deploy" "install" "edn-avro.jar"]}
  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.1"}}
           :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "edn-avro.jar"]}}}
